body.menu,
body.en_menu {
  header.banner {
    $banner-image: "../images/banner-barrels.jpg";
    background-image: url($banner-image);
  }

  section.untappd-menu {
    .ut-menu {
      font-family: $base-font-family !important;

      h1.menu-title {
        display: none !important;
      }

      .menu-info p {
        display: none !important;
      }
    }
  }
}
