body.menu,
body.en_menu {
  header.banner {
    $banner-image: "../images/banner-barrels.jpg";
    background-image: url($banner-image);
  }

  section.untappd-menu {
    .headline {
      text-align: center;

      h2 {
        font-size: $base-font-size * 2;
      }
    }
  }
}
