footer.footer {
  background: $dark-gray;
  padding: 3em 0 1em;

  h3 {
    color: $white;
    font-size: $base-font-size * 1.4;
  }

  p {
    color: $medium-gray;
    margin-bottom: 1em;
  }

  .footer-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: -($gutter / 5);

    @include media($medium-up) {
      flex-direction: row;
    }
  }

  .flex-item {
    padding: $gutter / 5;
    width: 100%;

    &:first-child {
      @include media($medium-up) {
        padding-right: 3em;
        width: 66%;
      }
    }

    &:last-child {
      @include media($medium-up) {
        width: 33%;
      }
    }
  }

  .opening-hours {
    color: $medium-gray;

    .highlight {
      color: $white;
    }

    span {
      display: inline-block;

      &.day {
        min-width: 120px;
      }
    }
  }

  .copyright {
    padding-top: 1em;
    text-align: center;

    a {
      color: $medium-gray;
    }
  }
}
