footer.footer {
  background: $dark-gray;
  padding: 3em 0 1em;

  h3 {
    color: $white;
    font-size: $base-font-size * 1.4;
  }

  p {
    color: $medium-gray;
    margin-bottom: 1em;
  }

  table {
    margin: 0;
  }

  tr {
    border-bottom: 0;
  }

  td {
    color: $medium-gray;
    padding: 0;
  }

  .footer-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: -($gutter / 5);
  }

  .flex-item {
    padding: $gutter / 5;
    width: 100%;

    &:first-child {
      @include media($medium-up) {
        width: 66%;
      }
    }

    &:last-child {
      @include media($medium-up) {
        width: 33%;
      }
    }
  }

  .copyright {
    padding-top: 1em;
    text-align: center;

    a {
      color: $medium-gray;
    }
  }
}
