.main_h {
  background-color: rgba($very-dark-gray, 0.93);
  font-family: "Montserrat", sans-serif;
  max-height: $nav-height;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  z-index: 999;
}

.header-container {
  @include outer-container;
  padding: 0 1em;
  position: relative;
  width: 100%;
}

.open-nav {
  max-height: 400px;
  padding-bottom: 2em;

  @include media($medium-up) {
    padding-bottom: 0;
  }

  .mobile-toggle span {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.logo {
  display: block;
  float: none;
  margin-top: 0;
  max-height: $nav-height;
  text-transform: uppercase;
  width: 174px;

  @include media($menu-desktop) {
    float: left;
  }

  img {
    height: 50px;
    margin-top: 10px;
  }
}

nav {
  float: right;
  width: 100%;

  @include media($menu-desktop) {
    width: 70%;
  }

  ul {
    float: left;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 2em 0;
    text-align: center;
    width: 100%;

    @include media($menu-desktop) {
      float: right;
      padding: 0;
      text-align: right;
    }
  }

  li {
    margin: 0;
    padding: 0;
    width: 100%;

    @include media($menu-desktop) {
      display: inline-block;
      width: auto;
    }
  }

  a {
    color: $white;
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $nav-height;
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media($menu-desktop) {
      margin-right: -5px;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      background: $slightly-desaturated-orange;
      color: $white;
    }
  }
}

.mobile-toggle {
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: $nav-height;
  position: absolute;
  right: 22px;
  top: 0;
  transition: all 200ms ease-in;
  width: 30px;

  @include media($menu-desktop) {
    display: none;
  }

  span {
    background-color: $white;
    bottom: auto;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.3s ease;
    width: 26px;

    &::after,
    &::before {
      background-color: $white;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      transition: 0.3s;
      width: 26px;
    }

    &::after {
      transform: translateY(9px);
    }

    &::before {
      transform: translateY(-9px);
    }
  }
}
