.hero {
  background-attachment: scroll;
  background-color: $slightly-desaturated-orange;
  background-image: url("../images/hero-home.jpg");
  background-position: center;
  background-size: cover;
  padding: 10em 0;
  text-align: center;
}
