body.index {
  .hero {
    background: url("../images/hero-home.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 10em 0;
    text-align: center;

    @include media($medium-up) {
      background-size: cover;
    }
  }
}
