<section class="impression <%= variant %>">
  <div class="grid-row">

    <h2>
      <%= t("partials.impression.title") %>
    </h2>

    <%= partial "partials/impression-list" %>
    
  </div>
</section>
