<section class="untappd-menu">
  <div class="grid-row">

    <h2>
      <%= t("partials.latest-untappd-menu-update.title") %>
    </h2>

    <ul>
      <% page_articles[0...1].each do |article| %>
        <%= partial "partials/untappd-menu-item", locals: { article: article } %>
      <% end %>
    </ul>

    <div class="button-wrapper">
      <%= partial "partials/button", locals: { to: "menu.html",
                                             text: t("partials.latest-untappd-menu-update.button_text"),
                                             variant: "orange" } %>
    </div>

  </div>
</section>
