<div class="social-links">
  <a href="https://untappd.com/v/just-in-beer/5974495" class="icon-untappd" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.facebook.com/Just.in.Beer.Groningen/" class="icon-facebook" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.instagram.com/just_in_beer/" class="icon-instagram" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.ratebeer.com/p/just-in-beer-groningen/70392/" class="icon-ratebeer" target="blank" rel="noopener noreferrer"></a>
</div>
