<section class="location">
  <div class="grid-row">
    <h2>
      <%= t("pages.index.sections.location.title") %>
    </h2>
    <p>
      <%= t("pages.index.sections.location.text") %>
    </p>
  </div>
</section>
