---
title:
  nl: "Assortiment"
  en: "Assortment"
description:
  nl: "Dit is een beschrijving"
  en: "This is a description"
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         variant_overlay: "primary-overlay",
                                         background_image: "banner-assortiment.jpg",
                                         title: t("pages.assortment.title")} %>

<section class="single-column">
  <div class="grid-row">
    <article>
      <%= partial "assortiment/content" %>
    </article>
  </div>
</section>
