---
title:
  nl: "Bedankt"
  en: "Thanks"
robots: noindex,nofollow
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         variant_overlay: "primary-overlay",
                                         title: t("pages.thanks.title")} %>

<section class="content">
  <div class="grid-row">
  <%= partial "bedankt/content" %>
  </div>
</section>
