---
title:
  nl: "Bedankt"
  en: "Thanks"
description:
  nl: "We nemen zo spoedig mogelijk contact op."
  en: "We will contact you as soon as possible."
robots: noindex,nofollow
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         variant_overlay: "primary-overlay",
                                         title: t("pages.thanks.title")} %>

<section class="content">
  <div class="grid-row">
    <%= partial "bedankt/content" %>
  </div>
</section>
