---
title:
  nl: "Bedankt"
  en: "Thanks"
robots: noindex,nofollow
---

<%= partial "bedankt/banner" %>

<section class="content">
  <div class="grid-row">
  <%= partial "bedankt/content" %>
  </div>
</section>
