---
title:
  nl: "Contact"
  en: "Contact"
description:
  nl: "Neem contact op"
  en: "Contact us now"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<header class="banner variant-normal" role="banner">
  <div class="grid-row">
    <h1>
      <%= t("pages.contact.title") %>
    </h1>
  </div>
</header>

<section class="form">
  <div class="grid-row form-grid-row">
    <%= partial "partials/contact_form" %>
  </div>
</section>
