---
title: "Menu"
description:
  nl: "Check alle bij Just in Beer verkrijgbare bieren."
  en: "View all beers available at Just in Beer."
blog: menu
pageable: true
image: assets/images/og-image-menu.jpg
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         variant_overlay: "primary-overlay",
                                         background_image: "banner-menu.jpg",
                                         title: t("pages.menu.title")} %>

<section class="untappd-menu">
  <div class="grid-row">
    <div id="menu-container"></div>
  </div>
</section>

<script type="text/javascript">
    !function(e,n){var t=document.createElement("script"),a=document.getElementsByTagName("script")[0];t.async=1,a.parentNode.insertBefore(t,a),t.onload=t.onreadystatechange=function(e,a){(a||!t.readyState||/loaded|complete/.test(t.readyState))&&(t.onload=t.onreadystatechange=null,t=void 0,a||n&&n())},t.src=e}("https://embed-menu-preloader.untappdapi.com/embed-menu-preloader.min.js",function(){PreloadEmbedMenu("menu-container",23039,87957)});
  </script>
