---
title:
  nl: "Over ons"
  en: "About us"
description:
  nl: "Over Just in Beer."
  en: "About Just in Beer."
robots: noindex,nofollow
sitemap_priority: 0.8
---

<header class="banner variant-normal" role="banner">
  <div class="grid-row">
    <h1>
      <%= t("pages.about.title") %>
    </h1>
  </div>
</header>
