section.brands {
  background: $light-gray;
  text-align: center;

  p {
    margin-bottom: 2em;
  }

  .brands-wrapper {
    @include flex-justify;
    flex-wrap: wrap;
  }

  .brands-block {
    color: $base-font-color;
    display: inline-block;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    width: 50%;

    @include media($medium-up) {
      width: calc(100% * (1/6) - 10px - 1px);
    }
  }
}
