.hero {
  background-attachment: scroll;
  background-color: $light-gray;
  background-image: url("../images/hero-home.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: ($nav-height + 48px) 0 3em;
  position: relative;
  text-align: center;
  text-shadow: 0 0.25em 0.5em rgba($black, 0.25);

  @include media($medium-up) {
    background-attachment: fixed;
  }

  &::before {
    background-color: rgba($black, 0.5);
    content: "";
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 0.15s ease-in-out;
    width: 100%;
    z-index: 0;
  }

  h1 {
    color: $white;
    font-size: $base-font-size * 2.4;

    @include media($medium-up) {
      font-size: $base-font-size * 3;
    }
  }
}
