.hero {
  background: $light-gray;
  padding: ($nav-height + 48px) 0 3em;
  position: relative;
  text-align: center;

  h1 {
    font-size: $base-font-size * 2.4;

    @include media($medium-up) {
      font-size: $base-font-size * 3;
    }
  }
}
