ul,
ol {
  color: $dark-grayish-blue;
  list-style-type: none;
  margin: 0;
  padding: 0;

  div.content & {
    list-style-type: disc;
    margin-left: 2em;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
