// Typography
$base-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Roboto', sans-serif;
$nav-height: 70px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Font Sizes
$base-font-size: 1em;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$black: #000;
$very-dark-gray: #262626;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #f8f9f9;
$dark-grayish-blue: #6c6d74;
$white: #fff;
$orange: #cc501f;
$slightly-desaturated-orange: #bd966b;
$red: #ff0000;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $slightly-desaturated-orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
