header.banner {
  background: $slightly-desaturated-orange no-repeat center center fixed;
  background-attachment: scroll;
  background-size: cover;
  color: $white;
  padding: 0 $base-spacing;
  position: relative;

  @include grid-media($for-desktop-up) {
    padding: 0;
  }

  &.primary-overlay {
    &::before {
      background-color: rgba($black, 0.5);
      content: "";
      display: flex;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: background 0.15s ease-in-out;
      width: 100%;
      z-index: 0;
    }
  }

  .grid-row {
    position: relative;
    z-index: 1;
  }

  &.variant-big {
    text-align: center;

    .grid-row {
      padding: 6em 2em;

      // @include grid-media($for-desktop-up) {
      //   padding: 6em 0;
      // }
    }

    h1 {
      font-size: $base-font-size * 1.4;

      @include grid-media($for-desktop-up) {
        font-size: $base-font-size * 3;
      }

      span {
        display: block;
      }
    }

    p {
      font-size: $base-font-size * 1.2;
    }
  }

  &.variant-normal {
    text-align: center;

    .grid-row {
      padding: 3em 0;
    }

    h1 {
      font-size: $base-font-size * 2;

      span {
        display: block;
      }
    }
  }
}
