.discount {
  background: $warning-background;
  border: 1px solid $warning-border;
  border-radius: $base-border-radius;
  box-shadow: 0 0 74px 0 rgba($black, 0.5);
  color: $warning-color;
  font-size: $base-font-size * 0.9;
  margin: 0 auto;
  max-width: 670px;
  padding: 1em;
  text-align: center;

  strong {
    font-size: $base-font-size * 1.2;
  }
}
