section.impression {

  h2 {
    text-align: center;
  }

  .impression-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: -($base-spacing / 5);

    .impression-item {
      padding: $base-spacing / 5;
      width: 100%;

      @include grid-media($for-desktop-up) {
        &:nth-child(4n+1),
        &:nth-child(4n+4) {
          width: 60%;
        }

        &:nth-child(4n+2),
        &:nth-child(4n+3) {
          width: 40%;
        }
      }
    }

    .impression-content {
      background-position: center;
      background-size: cover;
      display: flex;
      height: 360px;
      position: relative;
      width: 100%;
    }
  }
}
