.untappd-menu-item {
  @include grid-container;
  @include margin(null auto);
  border-bottom: $base-border;
  display: flex;
  max-width: 800px;
  padding: 1em;

  @include grid-media($for-desktop-up) {
    padding: 1em 0;
  }

  .col {
    min-width: 0;

    &.col-img {
      flex: 0 0 80px;
      margin-right: 1em;

      img {
        max-width: 100%;
      }
    }

    h3 {
      font-family: $base-font-family;
      font-size: $base-font-size;
      font-weight: $font-weight-bold;
      margin: 0;

      span {
        color: $light-gray;
        display: block;
        font-size: $base-font-size * 0.9;
        font-style: italic;
        font-weight: $font-weight-regular;

        @include grid-media($for-desktop-up) {
          color: $base-font-color;
          display: inline-block;
        }
      }
    }

    p {
      @include ellipsis(100%);
      font-size: $base-font-size * 0.8;
    }

    .item-brewery {
      font-size: $base-font-size * 0.8;
      // padding-bottom: 1em;

      @include grid-media($for-desktop-up) {
        display: inline-block;
      }
    }

    .item-meta {
      font-size: $base-font-size * 0.8;
      padding-bottom: 0.3em;

      @include grid-media($for-desktop-up) {
        display: inline-block;
      }

      div {
        display: inline-block;
        margin-left: 4px;
        padding-left: 12px;
        position: relative;

        &:first-child {
          margin-left: 0;
          padding-left: 0;

          @include grid-media($for-desktop-up) {
            margin-left: 4px;
            padding-left: 12px;
          }

          &::before {
            display: none;

            @include grid-media($for-desktop-up) {
              display: block;
            }
          }
        }

        &::before {
          color: $dark-gray;
          content: "•";
          display: block;
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}
