---
title: 404 - Pagina niet gevonden
robots: noindex,nofollow
directory_index: false
---

<section class="hero">
  <div class="row">
    <%= image_tag "404.png", alt: "404", title: "404" %>
    <h1>Pagina niet gevonden</h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <h2>We konden de pagina niet vinden.</h2>
    </article>
  </div>
</section>
