<footer class="footer">
  <div class="row">

    <div class="footer-wrapper">

      <div class="flex-item about-us">

        <h3>
          Over Just in Beer
        </h3>
        <p>
          Just in Beer is jouw craft bier winkel in Groningen. Je kunt bij ons terecht voor al je regionale, nationale en internationale craft bier behoeftes! We staan voor je klaar van dinsdag t/m zondag.
        </p>
        <p>
          Just in Beer<br>
          Folkingestraat 18<br>
          9711 JW Groningen<br>
          just_in_beer@hotmail.com<br>
          06 - 43469823
        </p>
        <p>
          <a href="https://www.facebook.com/Just.in.Beer.Groningen/" target="_blank" class="icon-facebook" title="Volg ons op Facebook"></a>
        </p>
      </div>

      <div class="flex-item opening">

        <h3>
          Openingstijden
        </h3>

        <ul class="opening-hours">
          <li id="1">
            <span class="day">Maandag</span>
            <span>Gesloten</span>
          </li>
          <li id="2">
            <span class="day">Dinsdag</span>
            <span>12:00 - 17:00</span>
          </li>
          <li id="3">
            <span class="day">Woensdag</span>
            <span>13:00 - 18:00</span>
          </li>
          <li id="4">
            <span class="day">Donderdag</span>
            <span>11:00 - 21:00</span>
          </li>
          <li id="5">
            <span class="day">Vrijdag</span>
            <span>11:00 - 19:00</span>
          </li>
          <li id="6">
            <span class="day">Zaterdag</span>
            <span>11:00 - 18:00</span>
          </li>
          <li id="0">
            <span class="day">Zondag</span>
            <span>12:00 - 17:00</span>
          </li>
        </ul>

      </div>
    </div>
    <div class="copyright">
      <p>
        © Just in Beer <%= Time.new.year %> | <a href="https://github.com/RonaldDijkstra/justinbeer" target="_blank">Open Source</a>
      </p>
    </div>
  </div>
</footer>
