<footer class="footer">
  <div class="row">

    <div class="footer-wrapper">
      <div class="flex-item">
        <h3>Over Just in Beer</h3>
        <p>
          Just in Beer is jouw craft bier winkel in Groningen, voor al je regionale, nationale en internationale craft bier behoeftes! We staan voor je klaar van woensdag t/m zondag.
        </p>
        <p>
          Just in Beer<br  />
          Folkingestraat 18<br  />
          9711 JW Groningen
        </p>
        <p>
          <a href="https://www.facebook.com/Just.in.Beer.Groningen/" target="_blank" class="icon-facebook" title="Volg ons op Facebook"></a>
        </p>
      </div>

      <div class="flex-item">
        <h3>Openingstijden</h3>
        <table>
          <tr>
            <td>
              Maandag
            </td>
            <td>
              Gesloten
            </td>
          </tr>
          <tr>
            <td>
              Dinsdag
            </td>
            <td>
              Gesloten
            </td>
          </tr>
          <tr>
            <td>
              Woensdag
            </td>
            <td>
              13:00 - 18:00
            </td>
          </tr>
          <tr>
            <td>
              Donderdag
            </td>
            <td>
              11:00 - 21:00
            </td>
          </tr>
          <tr>
            <td>
              Vrijdag
            </td>
            <td>
              11:00 - 19:00
            </td>
          </tr>
          <tr>
            <td>
              Zaterdag
            </td>
            <td>
              11:00 - 18:00
            </td>
          </tr>
          <tr>
            <td>
              Zondag
            </td>
            <td>
              11:00 - 17:00
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="copyright">
      <p>
        © Just in Beer <%= Time.new.year %> | <a href="https://github.com/RonaldDijkstra/justinbeer" target="_blank">Open Source</a>
      </p>
    </div>
  </div>
</footer>
