<section class="impression">
  <div class="row">
    <h2>
      Impressie
    </h2>

    <div class="impression-wrapper">

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impressie-01.jpg") %>)"></div>
      </div>

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impressie-02.jpg") %>)"></div>
      </div>

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impressie-04.jpg") %>)"></div>
      </div>

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impressie-03.jpg") %>)"></div>
      </div>

    </div>
  </div>
</section>
