---
title: Assortiment
description: We verkopen bier van topbrouwerijen. Daarnaast verkopen we cadeaubonnen en -verpakkingen, glazen, literatuur, brouwpakketten en festivaltickets.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>Assortiment</span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <p>
        Voor elke smaak, gelegenheid en budget hebben we een passend craft biertje in onze bierwinkel. Of je nou frisse witbieren, klassieke tripels, hazy, fruitige IPA's of vette barrel aged imperial stouts zoekt: je kunt ervoor bij Just in Beer terecht!
      </p>

      <h2>Koude bieren</h2>
      <p>
        We verkopen verse IPA’s en andere koud te drinken bieren rechtstreeks uit onze koelkast. Ideaal als je op zoek bent naar een koud biertje-voor-onderweg.
      </p>

      <h2>Bieren in blik</h2>
      <p>
        Wij zijn groot fan van bier in blik. Niet alleen biedt blik logistieke voordelen (je kunt er prachtige muurtjes mee bouwen!), ook is het bier beter beschermd tegen licht- en luchtinvloeden. Ideaal voor bier dat zo vers mogelijk gedronken moet worden, zoals IPA's. Daarom hebben we altijd verse blikken bier op voorraad.
      </p>

      <h2>Perfecte biercadeaus</h2>
      <p>
        We verkopen diverse cadeauverpakkingen. Daarnaast is het mogelijk naar wens een mooi verpakt gepersonaliseerd pakket samen te stellen. We verkopen ook Just in Beer-cadeaubonnen, met waarde naar keuze.
      </p>

      <h2>Internationaal topbier</h2>
      <p>
        Wat zijn we trots op onze collectie internationaal topbier! We verkopen bieren van internationale topbrouwerijen als Cloudwater, Mikkeller, Evil Twin, Beavertown, BrewDog, 3 Fonteinen, Buxton, Cantillon, Struise Brouwers, Dugges en nog veel meer.
      </p>

      <h2>Toppers van eigen bodem</h2>
      <p>
        Naast bier van internationale allure hebben we een uitgebreid assortiment toppers van eigen bodem, met onder meer bieren van De Molen, Het Uiltje, Jopen, Emelisse, De Moersleutel, Kees, Frontaal, Texelse, De Kromme Haring, Oedipus, Van Moll en Berghoeve.
      </p>

      <h2>Regionale brouwhelden</h2>
      <p>
        Uiteraard hebben we ook een groot aanbod van onze geweldige lokale brouwhelden, waaronder Rockin' Ludina, Baxbier, Martinus, Corviri, Maallust, Pivo, Groninger, Vandenbroek en Eggens!
      </p>

      <p>
        <strong>Kortom, met ons bieraanbod kun je alle kanten op en is er echt voor iedere smaak wat wils 🍻</strong>
      </p>

      <h2>Overig assortiment</h2>
      <p>
        Naast onze fantastische bierselectie hebben we ook andere bierige zaken in ons assortiment, zoals:
      </p>
      <ul>
        <li>
          Just in Beer cadeaubonnen
        </li>
        <li>
          Merchandising, zoals craft beer-shirts van <a href="https://craftbeershirts.nl/" target="_blank">Craftbeershirts.nl</a>
        </li>
        <li>
          Glazen
        </li>
        <li>
          Literatuur
        </li>
        <li>
          Brouwpakketten
        </li>
        <li>
          Tickets voor bierfestivals
        </li>
      </ul>
    </article>
  </div>
</section>

<%= partial "brands" %>
