---
title: Assortiment
description: We verkopen bier van Omnipollo, Buxton, Põhjala, 3 Fonteinen, Cantillon, De Cam, Hoppin' Frog, Het Uiltje, Jopen, De Moersleutel, Frontaal, Bax, Martinus, Groninger, enzovoorts!
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Assortiment
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <h2>
        Bier
      </h2>
      <p>
        We verkopen bier van Omnipollo, Buxton, Põhjala, 3 Fonteinen, Cantillon, De Cam, Hoppin' Frog, Het Uiltje, Jopen, De Moersleutel, Frontaal, Bax, Martinus, Groninger, enzovoorts!
      </p>
      <h2>
        Overige
      </h2>
      <ul>
        <li>
          Cadeauverpakkingen
        </li>
        <li>
          Bierglazen
        </li>
        <li>
          Beerwear
        </li>
        <li>
          Starterskits om zelf te brouwen
        </li>
      </ul>
    </article>
  </div>
</section>
