---
title: Assortiment
description: We verkopen bier van Omnipollo, Buxton, Põhjala, 3 Fonteinen, Cantillon, De Cam, Hoppin' Frog, Het Uiltje, Jopen, De Moersleutel, Frontaal, Bax, Martinus, Groninger, enzovoorts!
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Assortiment
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <h2>
        Bier
      </h2>
      <p>
        Voor elke smaak en gelegenheid hebben we een passend biertje in huis. Van een fris witbier voor in de zon tot vette barrel aged imperial stouts: je kunt ervoor bij Justin's snelwisselende aanbod terecht!
      </p>
      <p>
        We verkopen bieren van internationale topbrouwerijen als Cloudwater, Beavertown, Omnipollo, Brewdog, Evil Twin, Mikkeller, Buxton, To Øl, Põhjala, 3 Fonteinen, Cantillon, De Cam, Hoppin' Frog, Garage Beer, enzovoorts.
      </p>
      <p>
        Daarnaast hebben we een uitgebreid assortiment nationale toppers, met bieren van brouwerijen als Het Uiltje, Jopen, De Moersleutel, Frontaal, De Kromme Haring, Oedipus en Berghoeve.
      </p>
      <p>
        Uiteraard hebben we ook voldoende aanbod van onze lokale helden, waaronder Bax, Martinus, Maallust, Groninger, Vandenbroek en Eggens!
      </p>
      <p>
        Kortom, met ons bieraanbod kun je alle kanten op.
      </p>
      <h2>
        Overige
      </h2>
      <p>
        Naast een fantastische selectie bieren, hebben we uiteraard ook andere bierige zaken in ons assortiment:
      </p>
      <ul>
        <li>
          Just in Beer Cadeaubonnen
        </li>
        <li>
          Diverse cadeauverpakkingen
        </li>
        <li>
          Bierglazen
        </li>
        <li>
          Literatuur
        </li>
        <li>
          Beerwear
        </li>
        <li>
          Starterkits om zelf te brouwen
        </li>
      </ul>
    </article>
  </div>
</section>
