---
title: Assortiment
description: We verkopen bier voor iedereen van internationale, nationale en regionale topbrouwerijen. Daarnaast verkopen we cadeaubonnen, cadeauverpakkingen, bierglazen, bierliteratuur en brouwpakketten.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Assortiment
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <p>
        Voor elke smaak, gelegenheid en budget hebben we een passend craft biertje in onze bierwinkel. Van frisse witbieren, klassieke tripels, hazy IPA's tot vette barrel aged imperial stouts: je kunt ervoor bij Just in Beer terecht!
      </p>

      <h2>
        Koud bier
      </h2>
      <p>
        We verkopen verse IPA’s en andere koud te drinken bieren rechtstreeks uit onze koelkast. Ideaal als je op zoek bent naar een koud biertje-voor-onderweg.
      </p>

      <h2>
        Blik bier!
      </h2>
      <p>
        Wij zijn groot fan van bier in blik. Niet alleen heeft het logistieke voordelen, ook is het bier beter beschermd tegen invloeden van buitenaf. Ideaal voor bier dat zo vers mogelijk gedronken moet worden, zoals IPA's! Daarom hebben we altijd verse blikken bier op voorraad.
      </p>

      <h2>
        Perfecte cadeaus
      </h2>
      <p>
        We hebben altijd diverse cadeauverpakkingen op voorraad. Daarnaast is het mogelijk naar wens een mooi verpakt gepersonaliseerd (bier-)pakket samen te stellen. We verkopen ook Just in Beer-cadeaubonnen, met waarde naar keuze.
      </p>

      <h2>
        Internationaal topbier
      </h2>
      <p>
        Wat zijn we trots op onze collectie internationaal topbier! We verkopen bieren van internationale topbrouwerijen als Cloudwater, Mikkeller, Evil Twin, Beavertown, BrewDog, 3 Fonteinen, Buxton, Cantillon, Struise Brouwers, Dugges, Hoppin’ Frog, Lervig, Magic Rock, Omnipollo, Põhjala, Stone, Tempest, To Øl, Westbrook, enzovoorts.
      </p>

      <h2>
        Toppers van eigen bodem
      </h2>
      <p>
        Naast bier van internationale allure hebben we een uitgebreid assortiment toppers van eigen bodem, met onder meer bieren van brouwerijen als De Molen, Het Uiltje, Jopen, Emelisse, De Moersleutel, Kees, Frontaal, Texelse, De Kromme Haring, Oedipus, Van Moll en Berghoeve.
      </p>

      <h2>
        Regionale brouwhelden
      </h2>
      <p>
        Uiteraard hebben we ook een groot aanbod van onze geweldige lokale brouwhelden, waaronder Baxbier, Martinus, Corviri, Maallust, Pivo, Groninger, Vandenbroek en Eggens!
      </p>

      <p>
        <strong>Kortom, met ons bieraanbod kun je alle kanten op en is er echt voor iedere smaak wat wils 🍻</strong>
      </p>

      <h2>
        Overig assortiment
      </h2>
      <p>
        Naast onze fantastische bierselectie hebben we ook andere bierige zaken in ons assortiment, zoals:
      </p>
      <ul>
        <li>
          Just in Beer cadeaubonnen
        </li>
        <li>
          Merchandising, zoals craft beer-shirts
        </li>
        <li>
          Bierglazen
        </li>
        <li>
          Bierliteratuur
        </li>
        <li>
          Brouwpakketten
        </li>
      </ul>
    </article>
  </div>
</section>

<%= partial "brands" %>
