---
title: Bier reserveren
description: Reserveer nu jouw favoriete bier bij Just in Beer.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>Bier reserveren</span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">

    <article>

      <h2>
        Reserveer hier je favoriete bier
      </h2>

      <p>
        Ben je op zoek naar een mooi bier en wil je zeker weten dat je 'em niet misloopt? Of zoek je iets specifieks, bijvoorbeeld een bepaalde Omnipollo stout, de nieuwste Uiltje Fresh & Fast, of die ene nieuwe Barrel Project van Kees? Vul onderstaand formulier in en wij gaan ons best doen het bier voor je te reserveren.
      </p>
      <p>
        Wil je weten wat wij zoal binnenkrijgen? <a href="https://www.facebook.com/Just.in.Beer.Groningen/" target="_blank">Volg ons dan op Facebook</a>.
      </p>
      <p>
        We bewaren je bier maximaal een week, hou daar rekening mee!
      </p>

      <form class="form-contact" accept-charset="UTF-8" action="https://formspree.io/just_in_beer@hotmail.com" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="Reservering">
        <div class="form-name">
          <input type="text" name="name" placeholder="Naam">
        </div>
        <div class="form-email">
          <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-text">
          <textarea rows="6" name="message" placeholder="Welke bieren wil je reserveren?" required></textarea>
        </div>
        <div class="form-name">
          <input type="text" name="name" placeholder="Wanneer kom je de bieren ophalen?">
        </div>
        <div class="form-actions">
          <button type="submit" class="button big slightly-desaturated-orange">Verzenden</button>
        </div>
      </form>

    </article>

  </div>
</section>
