---
title: Contact
description: Neem contact op
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Contact
      </span>
    </h1>
  </div>
</section>

<section class="contact-form">
  <div class="row">
    <article>

      <h2>Neem contact op</h2>
      <p>
        Heb je een vraag of opmerking? Zie je iets dat niet goed is aan deze website of mis je iets? <br />
        Neem contact op met Just in Beer via onderstaand formulier.
      </p>

      <h2>Adres</h2>
      <p>
        Just in Beer<br />
        Folkingestraat 18<br />
        9711 JW Groningen<br />
        just_in_beer@hotmail.com<br />
        06 - 43469823
      </p>

      <form class="form-contact" accept-charset="UTF-8" action="https://formspree.io/just_in_beer@hotmail.com" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="Contact">
        <div class="form-name">
          <input type="text" name="name" placeholder="Naam">
        </div>
        <div class="form-email">
          <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-text">
          <textarea rows="6" name="message" placeholder="Bericht"></textarea>
        </div>
        <div class="form-actions">
          <button type="submit" class="button big slightly-desaturated-orange">Verzenden</button>
        </div>
      </form>
    </article>
  </div>
</section>

<%= partial "maps" %>
