---
title: Just in Beer | Heritage Beer Company
---

<section class="hero">
  <div class="row">
    <%= image_tag("logo-just-in-beer-big.png") %>
    <!-- <h1>Welkom bij Just in Beer!</h1>-->
  </div>
</section>
