---
title: Just in Beer | dé craft beer store van Groningen
description: Just in Beer is dé craft beer winkel van Groningen
---

<section class="hero">
  <%= image_tag("logo-just-in-beer-big.png") %>
</section>

<section class="introduction">
  <div class="row">

    <h2>
      Welkom bij Just in Beer
    </h2>
    <p>
      Just in Beer is ontstaan uit passie voor het allerbeste binnen- en buitenlandse craft bier. Naast een immer groeiend standaardassortiment, verkopen we steeds vaker echte specials. Samen met onze klanten bekijken we wat we inkopen.
    </p>

    <div class="offer-wrapper">
      <div class="offer-item">
        <h3>Assortiment</h3>
      </div>
      <div class="offer-item">
        <h3>Events</h3>
      </div>
      <div class="offer-item">
        <h3>Over ons</h3>
      </div>
    </div>
  </div>
</section>

<section class="hop-into-the-grain">
  <div class="row">
    <h2>
      Hop! into the Grain
    </h2>
    <p>
      26 mei 2018
    </p>
    <a class="button" href="#">Koop tickets &raquo;</a> | <a class="button" href="#">Bezoek website</a>
  </div>
</section>

<section class="impression">
  <div class="row">
    <h2>
      Impressie
    </h2>
  </div>
</section>

<section class="brands">
  <div class="row">
    <h2>
      Onze merken
    </h2>
    <p>
      Een greep uit de de biermerken die we verkopen.
    </p>
  </div>
</section>

<section class="maps">
  <div class="row">
    <h2>
      Maps
    </h2>
  </div>
</section>
