---
title: Welkom bij Just in Beer
description: Just in Beer is dé craft beer winkel van Groningen
---

<section class="hero">
  <div class="row">
    <%= image_tag("logo-just-in-beer-big.png") %>
  </div>
</section>
