---
description: Dé speciaalbierwinkel van Groningen met het grootste en beste assortiment. Wij zijn geopend van dinsdag t/m zondag.
---

<section class="hero">
  <div class="hero-content">
    <h1>
      Welkom bij Just in Beer
    </h1>
    <%= image_tag "logo-just-in-beer-big.png", alt: "Just in Beer Speciaalbier", title: "Just in Beer Speciaalbier" %>
  </div>
</section>

<section class="introduction">
  <div class="row">

    <div class="announcement">
      Let op: donderdagavond 21 maart 2019 zijn we iets eerder gesloten, namelijk om 20:00 uur!
    </div>

    <h2>
      Speciaalbierwinkel in Groningen
    </h2>

    <p>
      Just in Beer is jouw (craft) bierspecialist in de leukste en gezelligste winkelstraat van hartje Groningen: de Folkingestraat. Naast een immer groeiend vast assortiment verkopen we steeds meer dikke specials.
    </p>

    <div class="offer-wrapper">

      <div class="flex-item">
        <% link_to("assortiment", class: "offer", alt: "Assortiment", style: "background-image: url(#{image_path("offer-assortiment-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Assortiment &rsaquo;
            </h3>
          </div>
        <% end %>
      </div>

      <div class="flex-item">
        <% link_to("over-ons", class: "offer", alt: "Over ons", style: "background-image: url(#{image_path("offer-about-us-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Over ons &rsaquo;
            </h3>
          </div>
        <% end %>
      </div>

      <div class="flex-item">
        <% link_to("contact", class: "offer", alt: "Contact", style: "background-image: url(#{image_path("offer-contact-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Contact &rsaquo;
            </h3>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>

<%= partial "impressie" %>
<%= partial "brands" %>
<%= partial "maps" %>
