---
title: Just in Beer | dé craft beer store van Groningen
description: Just in Beer is dé craft beer winkel van Groningen
---

<section class="hero">
  <%= image_tag "logo-just-in-beer-big.png", alt: "Just in Beer", title: "Just in Beer" %>
</section>

<section class="introduction">
  <div class="row">

    <h2>
      Welkom bij Just in Beer
    </h2>
    <p>
      Just in Beer is ontstaan uit passie voor het allerbeste binnen- en buitenlandse craft bier. Naast een immer groeiend standaardassortiment, verkopen we steeds vaker echte specials. Samen met onze klanten bekijken we wat we inkopen.
    </p>

    <div class="offer-wrapper">

      <div class="flex-item">
        <% link_to("assortiment", class: "offer", alt: "Assortiment", style: "background-image: url(#{image_path("offer-assortiment-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Assortiment
            </h3>
          </div>
        <% end %>
      </div>

      <div class="flex-item">
        <% link_to("over-ons", class: "offer", alt: "Over ons", style: "background-image: url(#{image_path("offer-about-us-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Over ons
            </h3>
          </div>
        <% end %>
      </div>

      <div class="flex-item">
        <% link_to("contact", class: "offer", alt: "Contact", style: "background-image: url(#{image_path("offer-contact-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Contact
            </h3>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>

<section class="hop-into-the-grain">
  <div class="row">

    <div class="festival-wrapper">
      <div class="flex-item">
        <h2>
          Hop! into the Grain Festival
        </h2>
        <p>
          26 mei 2018 organiseert Just in Beer een Craft beer & Music festival genaamd Hop! into the Grain. Het beste van twee werelden, topbieren van diverse brouwerijen uit Nederland in een setting van een echt muziekfestival.
        </p>
        <p>
          <a class="button orange" href="https://www.hopintothegrainfestival.nl" target="_blank">Bezoek website</a>
        </p>
      </div>

      <div class="flex-item">
        <a href="https://www.hopintothegrainfestival.nl" target="_blank">
          <%= image_tag("poster-hop-into-the-grain-festival.png") %>
        </a>
      </div>
    </div>

  </div>
</section>

<section class="impression">
  <div class="row">
    <h2>
      Impressie
    </h2>
  </div>
</section>

<section class="brands">
  <div class="row">
    <h2>
      Onze merken
    </h2>
    <p>
      Een greep uit de de biermerken die we verkopen.
    </p>
  </div>
</section>

<section class="maps">
  <div class="row">
    <h2>
      Maps
    </h2>
  </div>
</section>
