---
title: Over ons
description: Just in Beer wordt gerund door Justin van Akkeren.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Over ons
      </span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      Content
    </article>
  </div>
</section>
