---
title: Over ons
description: Just in Beer is in maart 2017 geopend met het idee dat er in Groningen behoefte was aan een écht specialistische bierwinkel.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>Over ons</span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>
      <h2>Craft Beer Store in Groningen sinds 2017</h2>
      <p>
        Just in Beer is in maart 2017 geopend met het idee dat er in Groningen behoefte was aan een écht specialistische bierwinkel. Daarom specialiseren we ons in alle soorten speciaalbier voor liefhebbers. Slijterijen met een breed (maar minder specialistisch qua bier) drankenassortiment zijn er immers al genoeg.
      </p>
      <p>
        Bij ons vind je daarom alleen maar het allerbeste lokale, nationale en internationale bier. Wij houden bovendien van alle bierstijlen (en dat zijn er nogal wat) en dat zie je terug in ons mooie aanbod.
      </p>
      <p>
        Voor ons staat goede service - met een praatje - voorop. Heb je biervragen, zoek je iets speciaals? Onze deskundige medewerkers helpen je graag verder.
      </p>
      <p>
        We proberen onszelf altijd te verbeteren qua service, assortiment en de verkrijgbaarheid van bieren. We denken dat dat het eerste jaar van ons bestaan aardig gelukt is. Ons vaste assortiment is gegroeid en we verkopen steeds vaker bijzondere specials. Bovendien weten we steeds beter in te schatten waar behoefte aan is, waardoor we steeds meer vaste klanten mogen verwelkomen. En dat zien we natuurlijk graag!
      </p>

      <h2>Meer dan bier</h2>
      <p>
        Naast de verkoop van mooi bier proberen we een wezenlijke bijdrage te leveren aan de bier community in Groningen. Daarom organiseren we 26 mei het Hop! into the Grain Craft Beer & Music Festival in EM2 The Barn in Groningen, waar we het beste van twee werelden met elkaar zullen combineren. En eerder organiseerden we een optreden van Meadowlake in de zaak, met een bijpassende proeverij van een van Groningens jonge brouwerijen: Brouwerij Eggens. Daarnaast zijn we met meer projecten bezig, waar we nu nog niet al te veel over kunnen melden, maar die zeker interessant zullen zijn het komend jaar!
      </p>

      <h2>Contact</h2>
      <p>
        Heb je suggesties voor ons assortiment, de winkel of heb je een gouden biertip? Neem dan contact op via <a href="/contact/">ons contactformulier</a>.
      </p>
    </article>
  </div>
</section>

<%= partial "impressie" %>
