---
title: Relatiegeschenken
description: Bij Just in Beer kunt u ook terecht voor originele relatiegeschenken en kerstpakketten.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>Relatiegeschenken & Kerstpakketten</span>
    </h1>
  </div>
</section>

<section class="content">
  <div class="row">
    <article>

      <p>
        Bij Just in Beer kunt u terecht voor originele relatiegeschenken. Denk hierbij aan op maat gemaakte speciaalbierpakketten voor ieder budget. Dankzij ons uitgebreide assortiment speciaalbieren en aanverwante zaken, vinden we altijd een samenstelling die bij u en uw relatie past. U geeft een gewenste smaak of richting door en wij stellen het perfecte (bier-)pakket samen.
      </p>

      <p>
        [Foto relatiegeschenk]
      </p>

      <h2>
        Kerstpakketten
      </h2>

      <p>
        Just in Beer levert kerstpakketten voor bedrijven op maat. Deze zijn al beschikbaar vanaf €9,95 ex btw (minimaal 3 exclusieve speciaalbieren). Uiteraard verpakken we de pakketten in het kerstthema en kunnen we de verzending voor onze rekening nemen.
      </p>

      <p>
        [Foto kerstpakket]
      </p>

      <h2>
        Contactformulier
      </h2>

      <p>
        Heeft u interesse in relatiegeschenken of kerstpakketten? Neem dan geheel vrijblijvend contact met ons op. We zullen zo snel mogelijk reageren.
      </p>

      <form class="form-contact" accept-charset="UTF-8" action="https://formspree.io/just_in_beer@hotmail.com" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="form" value="Zakelijk">
        <div class="form-name">
          <input type="text" name="name" placeholder="Naam">
        </div>
        <div class="form-email">
          <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-text">
          <textarea rows="6" name="message" placeholder="Bericht"></textarea>
        </div>
        <div class="form-actions">
          <button type="submit" class="button big slightly-desaturated-orange">Verzenden</button>
        </div>
      </form>

    </article>
  </div>
</section>

<%= partial "brands" %>
